$lighterpink: #FDE8E7;
$darkerpink: #EBD1D0;
$pink: #FFDDDD;
$lighterpurple: #D8CBD8;
$darkerpurple: #A6B1CD;
$off-white: #FDFCFD;
$grayF3: #F3F3F3;
$grayEF: #EFEFEF;
$grayE3: #E3E3E3;
$grayE5: #E5E5E5;
$grayE6: #E6E6E6;
$grayE7: #E7E7E7;
$grayA1: #A1A1A1;
$gray71: #717171;
$off-black: #61605E;
$red: #D01105;
$black_transp_4: rgba(0, 0, 0, 0.4);
$paper_yellow: #FEFFDC;

$form_info_grad_1: $darkerpink;
$form_info_grad_2: $lighterpink;
$form_submit_grad_1: $lighterpurple;
$form_submit_grad_2: $darkerpurple;

$select_border_col: $grayA1;
$input_border_col: $grayE5;

$button_disabled_col: $grayA1;
$button_col: black;
$button_sh_col: $black_transp_4;

$notice_bg_col: $pink;
$notice_warn_bg_col: $paper_yellow;
$notice_sh_col: $black_transp_4;

$grunge_bg: url('../img/grunge.png');

$label_mw: 180px;
